.app {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: var(--font-base);
}

.app__primarybg {
  background-color: var(--primary-color);
}

.app__secondarybg {
  background-color: var(--secondary-color);
}

.app__container {
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  width: 100%;
  padding: 2rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  p {
    text-transform: uppercase;
    color: var(--text-color);
  }
}

.title-text {
  font-size: 3.75rem;
  font-weight: 800;

  @media screen and (min-width: 640px) {
    font-size: 7rem;
  }
}

.subtitle-text {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--accent-color);

  @media screen and (min-width: 640px) {
    font-size: 3rem;
  }
}

.section-heading {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--text-color);
}
