.app__badge-sm {
  width: max-content;
  height: max-content;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border: 0.5px solid var(--secondary-color);
  border-radius: 1rem;
  background-color: var(--primary-color);
  color: var(--accent-color);

  img {
    width: 1rem;
    height: 1rem;
    object-fit: contain;
    object-position: center;
  }
}

.app__badge-lg {
  width: max-content;
  height: max-content;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  border: 0.5px solid var(--secondary-color);
  border-radius: 1rem;
  background-color: var(--primary-color);
  color: var(--accent-color);
  cursor: grab;

  img {
    width: 1rem;
    height: 1rem;
    object-fit: contain;
    object-position: center;
  }

  span {
    font-size: 0.75rem;
    font-weight: 400;
  }
}
